﻿@{
    ViewData["Title"] = "My Smart City";
}
@section scripts{
    @*<script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.28&key=AIzaSyDr-93JLjK-GhrPofL1CKsqSGxNDOWP-j4"></script>
    <script src="http://code.responsivevoice.org/responsivevoice.js"></script>*@

    <script src="~/js/ol.js"></script>

    <script src="~/app/trafficFlow/trafficApp.js"></script>
    <script src="~/app/trafficFlow/trafficFlow.js"></script>
    <script src="~/app/trafficFlow/trafficIncidents.js"></script>
    <script src="~/app/trafficFlow/delayHotspots.js"></script>
    <script src="~/app/trafficFlow/sideNav.js"></script>
    @*<script src="~/app/trafficFlow/liveTrafficUpdates.js"></script>*@
    <script src="~/app/trafficFlow/weather.js"></script>
    <script src="~/app/trafficFlow/liveTrafficUpdater.js"></script>
    <script src="~/app/trafficFlow/CreateCAA.js"></script>
}
@section jsCode {
    angular.bootstrap(document.getElementById("trafficApp"), ['trafficApp']);
}



<div data-ng-app="trafficApp" id="trafficApp">

    <div ng-view></div>
    <div data-ng-include="'../app/trafficFlow/liveTrafficUpdater.html'"></div>
</div>