﻿<div data-ng-include="'../app/trafficFlow/sideNav.html'"></div>
<div ng-controller="createCAA as vm">
    <section class="wrapper scrollable">
        <div class="main-grid">
            <div class="agile-grids">
                <div style="margin:50px">
                    <form method="post" id="caaForm" name="caaForm" ng-submit="createCAA(caaForm)">
                        <md-input-container flex="50">
                            <label>Job Name</label>
                            <input required name="Job_Name" ng-model="caa.jobName">
                            <div ng-messages="caaForm.Job_Name.$error">
                                <div ng-message="required">This is required.</div>
                            </div>

                        </md-input-container><br />
                        <md-input-container flex="50">
                            <label>Select Year</label>
                            <md-select id="year" name="year" ng-model="caa.year" required>
                                <md-option value="2016">2016</md-option>
                                <md-option value="2017">2017</md-option>
                                <md-option value="2018">2018</md-option>
                                <md-option value="2019">2019</md-option>
                            </md-select>
                            <div ng-messages="caaForm.year.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container><br />
                        <md-input-container flex="50">
                            <label>Select Quarter</label>
                            <md-select id="quarter" name="quarter" ng-model="caa.quarter" required>
                                <md-option value="Q1">Quarter 1</md-option>
                                <md-option value="Q2">Quarter 2</md-option>
                                <md-option value="Q3">Quarter 3</md-option>
                                <md-option value="Q4">Quarter 4</md-option>
                            </md-select>
                            <div ng-messages="caaForm.quarter.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container><br />
                        <md-input-container flex="50">
                            <label>Select Set Type</label>
                            <md-select id="setType" name="setType" ng-model="caa.setType" required>
                                <md-option value="BaseSet">BaseSet</md-option>
                                <md-option value="Morning">Morning</md-option>
                                <md-option value="Afternoon">Afternoon</md-option>
                                <md-option value="Evening">Evening</md-option>
                            </md-select>
                            <div ng-messages="caaForm.year.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container><br />


                        <md-button class="md-raised md-primary" type="submit">Create CAA</md-button>
                    </form>

                </div>
                <div class="agile-grids" style="margin:50px">
                    <md-input-container>
                        <label>Get Job Status</label>
                        <md-select id="jobId" name="jobId" ng-model="jobId" ng-change="getCAAResult(jobId)">
                            <md-option ng-repeat="job in caaWithoutUrls" ng-value={{job}}>{{job.jobId}}, {{job.setType}}, {{job.quarter}}, {{job.year}}</md-option>
                        </md-select>
                    </md-input-container><br />

                    <div ng-if="jobResult != null || jobResult != undefined" style="color:blue">
                        <ol>
                            <li>Job Id : {{jobResult.jobId}}</li>
                            <li>Job Status : {{jobResult.responseStatus}}</li>
                            <li ng-if="jobResult.jobState != null || jobResult.jobState != undefined">Job State : {{jobResult.jobState}}</li>
                            <li ng-if="jobResult.urls != null || jobResult.urls != undefined">Json URL : {{jobResult.urls[0]}}</li>
                            <li ng-if="jobResult.urls != null || jobResult.urls != undefined">Zip URL : {{jobResult.urls[1]}}</li>
                        </ol>
                    </div>
                </div>
                <!--<div class="scroll-block">
                    <a href="javascript:;" class="scroll-down weatherScroll"><div class="trafic-flow-bottom"><i class="fa fa-chevron-down"></i></div></a>
                    <a href="javascript:;" class="scroll-down scroll-up weatherScroll" style="display:none;"><div class="trafic-flow-bottom"><i class="fa fa-chevron-up"></i></div></a>
                </div>-->
                <div class="clearfix"> </div>
            </div>
        </div>
    </section>

</div>
