﻿<div data-ng-include="'../app/trafficFlow/sideNav.html'"></div>
<div ng-controller="delayHotspots as vm">

    <section class="wrapper scrollable" ng-if="selecteLanguage == 'en'">
        <div class="agile-last-grids">
            <div class="map-container">
                <div style="position:relative">

                    <div id="map3" class="map"></div>
                    <div class="scroll-block">
                        <a href="javascript:;" class="scroll-down"><div class="trafic-flow-bottom"><i class="fa fa-chevron-down"></i></div></a>
                        <a href="javascript:;" class="scroll-down scroll-up" style="display:none;"><div class="trafic-flow-bottom"><i class="fa fa-chevron-up"></i></div></a>
                    </div>
                </div>
                <div class="map-services__panel show-listing ">
                    <div id="main">
                        <div class="nano">
                            <div class="overthrow nano-content description">
                                <div class="card card-plain height-1 card-padded traffic-flow-panel">
                                    <div class="card-block">
                                        <div class="card-header p-b-0 text-center">
                                            <h2 class="m-a-0"><span>{{sideNav[45].navEnglish}}</span></h2>
                                        </div>
                                        <div class="flow-viewer__last-update m-b">
                                            <div class="data-time-period last-update text-center">
                                                 <select ng-model="selectedYear" ng-change="getQuartersByYear(selectedYear);">
                                                    <option ng-repeat="year in Years" ng-value="year">
                                                        {{year}}
                                                    </option>
                                                </select>
                                                <select ng-model="selectedQuarter" ng-change="getBasesetByYearQuarter(selectedQuarter, null)">
                                                    <option ng-repeat="quarter in Quarters" ng-value="quarter" selected="selected">
                                                        {{quarter}}
                                                    </option>
                                                </select>
                                                <select ng-model="selectedTiming" ng-change="getDelayHotspotByYearQuarterAndType(selectedTiming,selectedQuarter, selectedYear)">
                                                    <option ng-repeat="timing in Timings" ng-value="timing">
                                                        {{timing}}
                                                    </option>
                                                </select>
                                                <br />
                                                <span class="badge"><span><b>{{sideNav[46].navEnglish}}</b></span></span><span>{{selectedQuarter}}-{{selectedYear}} -- {{selectedTiming}}</span>
                                            </div>
                                           </div>
                                        <div ng-if="showSpinner == true || comparisionSetData1.network.segmentResults.length == 0 || comparisionSetData1.network.segmentResults == null || comparisionSetData1.network.segmentResults == undefined" class="top-traffic-incident">
                                            <md-progress-circular ng-disabled="!showSpinner" md-mode="indeterminate" class="md-accent md-hue-2" md-diameter="60" style="padding:30px"></md-progress-circular>
                                        </div>
                                        <div class="top-traffic-incident" ng-if="comparisionSetData1.network.segmentResults.length != 0 || comparisionSetData1.network.segmentResults != null || comparisionSetData1.network.segmentResults != undefined">
                                            <ul ng-repeat="hotSpot in comparisionSetData1.network.segmentResults" ng-if="$index < 10">
                                                <li ng-click="drawPopup(undefined, hotSpot.LatLng, hotSpot.contentString, hotSpot.streetName,hotSpot.img)">
                                                    <div class="jam1">
                                                        <span class="icons-delay"><img src={{hotSpot.img}} width="20"> <p>{{$index + 1}}</p></span>

                                                        <h6><span>{{hotSpot.streetName.toUpperCase()}}</span></h6>
                                                    </div>
                                                    <p ng
                                                    <p ng-if="selecteLanguage == 'en'"><i class="fa fa-info-circle" aria-hidden="true"></i> {{sideNav[38].navEnglish}} : {{hotSpot.distance}} mtrs</p>
                                                    <p ng-if="selecteLanguage != 'en'"><i class="fa fa-info-circle" aria-hidden="true"></i> {{sideNav[38].navArabic}} : متر {{hotSpot.distance}}</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </section>


    <section class="wrapper scrollable ar-mapZoom" ng-if="selecteLanguage != 'en'">
        <div class="agile-last-grids">
            <div class="map-container">
                <div style="position:relative">

                    <div id="map3" class="map"></div>
                    <div class="scroll-block">
                        <a href="javascript:;" class="scroll-down"><div class="trafic-flow-bottom"><i class="fa fa-chevron-down"></i></div></a>
                        <a href="javascript:;" class="scroll-down scroll-up" style="display:none;"><div class="trafic-flow-bottom"><i class="fa fa-chevron-up"></i></div></a>
                    </div>
                </div>
                <div class="map-services__panel show-listing ar-show-listing ">
                    <div id="main">
                        <div class="nano">
                            <div class="overthrow nano-content description">
                                <div class="card card-plain height-1 card-padded traffic-flow-panel">
                                    <div class="card-block">
                                        <div class="card-header p-b-0 text-center">
                                            <h2 class="m-a-0"><span><b>{{sideNav[45].navArabic}}</b></span></h2>
                                        </div>
                                        <div class="flow-viewer__last-update m-b">
                                            <div class="data-time-period last-update text-center">
                                                <select ng-model="selectedYear" ng-change="getQuartersByYear(selectedYear);">
                                                    <option ng-repeat="year in Years" ng-value="year">
                                                        {{year}}
                                                    </option>
                                                </select>
                                                <select ng-model="selectedQuarter" ng-change="getBasesetByYearQuarter(selectedQuarter, null)">
                                                    <option ng-repeat="quarter in Quarters" ng-value="quarter">
                                                        {{quarter}}
                                                    </option>
                                                </select>
                                                <select ng-model="selectedTiming" ng-change="getDelayHotspotByYearQuarterAndType(selectedTiming,selectedQuarter, selectedYear)">
                                                    <option ng-repeat="timing in Timings" ng-value="timing">
                                                        {{timing}}
                                                    </option>
                                                </select>
                                                <br />
                                                <span class="badge ar-badge"><span><b>{{sideNav[46].navArabic}}</b></span></span><span>{{selectedQuarter}}-{{selectedYear}} -- {{selectedTiming}}</span>
                                            </div>
                                          
                                        </div>
                                        <div ng-if="comparisionSetData1.network.segmentResults.length == 0 || comparisionSetData1.network.segmentResults == null || comparisionSetData1.network.segmentResults == undefined" class="top-traffic-incident">
                                            <md-progress-circular ng-disabled="!showSpinner" md-mode="indeterminate" class="md-accent md-hue-2" md-diameter="60" style="padding:30px"></md-progress-circular>
                                        </div>
                                        <div class="top-traffic-incident" ng-if="comparisionSetData1.network.segmentResults.length != 0 || comparisionSetData1.network.segmentResults != null || comparisionSetData1.network.segmentResults != undefined">
                                            <ul ng-repeat="hotSpot in comparisionSetData1.network.segmentResults" ng-if="$index < 10">
                                                <li ng-click="drawPopup(undefined, hotSpot.LatLng, hotSpot.contentString, hotSpot.streetName,hotSpot.img)">
                                                    <div class="jam1">
                                                        <span class="icons-delay"><img src={{hotSpot.img}} width="20"> <p>{{$index + 1}}</p></span>

                                                        <h6><span>{{hotSpot.streetName.toUpperCase()}}</span></h6>
                                                    </div>
                                                    <p ng
                                                    <p ng-if="selecteLanguage != 'en'"><i class="fa fa-info-circle" aria-hidden="true"></i> {{sideNav[38].navArabic}} : متر {{hotSpot.distance}}</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </section>
</div>