﻿<div ng-controller="liveTrafficUpdater as vm">

    <section class="wrapper scrollable" id="trafic-flow-bottom" ng-if="selectedLanguage == 'en'">
        <div class="main-grid" style="margin-top: -30px;">
            <div class="row agile-two-grids dashboard-info">
                <div class="col-md-3 traffic-align">
                    <!-- area-chart -->



                    <div class="area-grids card">
                        <div class="area-grids-heading">
                            <md-tooltip md-direction="top">{{sideNav[70].navEnglish}}</md-tooltip>
                            <h3>{{sideNav[5].navEnglish}} <i class="fa fa-question-circle"></i></h3>

                        </div>
                        <div ng-if="totalCount == 0">
                            <md-progress-circular ng-disabled="!showSpinner" md-mode="indeterminate" class="md-accent md-hue-2" md-diameter="60" style="padding:30px"></md-progress-circular>
                        </div>
                        <div id="graph4" class="graph4"></div>
                    </div>

                    <div ng-if="totalCount != 0">
                        <div class="bottom-content">
                            <div class="text-center">
                                <div class="dashboard__chart-teaser">
                                    <div class="chart-teaser" ng-click="showGraph('levels')"><span class="svg-image"> <img src="images/graph.png" alt="" width="25"> </span><span class="chart-teaser__label"><span>{{sideNav[19].navEnglish}}</span></span> </div>
                                </div>
                            </div>
                            <div class="data-time-period last-update text-center">
                                <span class="badge"><span>{{sideNav[12].navEnglish}}</span></span><span>{{sideNav[6].navEnglish}}</span> :&nbsp;
                                <time><span>{{currentDate.day}} {{currentDate.month}} {{currentDate.year}}, {{incidentDate}}</span></time>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <!-- //area-chart -->
                </div>
                <div class="col-md-3 traffic-align">
                    <div class="speed-progress-block card">
                        <div>
                            <md-tooltip md-direction="top">{{sideNav[71].navEnglish}}</md-tooltip>
                            <h3>{{sideNav[13].navEnglish}} <i class="fa fa-question-circle"></i></h3>
                        </div>
                        <div ng-if="totalCount == 0">
                            <md-progress-circular ng-disabled="!showSpinner" md-mode="indeterminate" class="md-accent md-hue-2" md-diameter="60" style="padding:30px"></md-progress-circular>
                        </div>

                        <div class="inner-block-weather" ng-if="totalCount != 0">
                            <div class="speed-progress speed-progress1">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                <div class="speed-progress_inner values"> {{workCount}} </div>
                                <div class="speed-progress_inner process">
                                    <p><span></span></p>
                                </div>
                            </div>
                            <div class="speed-progress speed-progress2">
                                <i class="fa fa-car" aria-hidden="true"></i>
                                <div class="speed-progress_inner values"> {{jamCount}} </div>
                                <div class="speed-progress_inner process">
                                    <p><span></span></p>
                                </div>
                            </div>
                            <div class="speed-progress speed-progress3">
                                <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                <div class="speed-progress_inner values"> {{closedCount}} </div>
                                <div class="speed-progress_inner process">
                                    <p><span></span></p>
                                </div>
                            </div>
                        </div>
                        <div>

                            <p class="text-center "><span>{{sideNav[14].navEnglish}}</span> <strong>{{totalCount}}</strong></p>
                        </div>
                        <div class="bottom-content">
                            <div class="text-center">
                                <div class="dashboard__chart-teaser">
                                    <div class="chart-teaser" ng-click="showGraph('reports')"><span class="svg-image"> <img src="images/graph.png" alt="" width="25"> </span><span class="chart-teaser__label"><span>{{sideNav[19].navEnglish}}</span></span> </div>
                                </div>
                            </div>
                            <div class="data-time-period last-update text-center">
                                <span class="badge"><span>{{sideNav[12].navEnglish}}</span></span><span>{{sideNav[6].navEnglish}}</span> :&nbsp;
                                <time><span>{{currentDate.day}} {{currentDate.month}} {{currentDate.year}}, {{incidentDate}}</span></time>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 traffic-align">
                    <div class="traffic-speed-block card">
                        <div>
                            <md-tooltip md-direction="top">{{sideNav[69].navEnglish}}</md-tooltip>
                            <h3>{{sideNav[15].navEnglish}} <i class="fa fa-question-circle"></i></h3>
                        </div>
                        <div ng-if="avgSpeed == 0">
                            <md-progress-circular ng-disabled="!showSpinner1" md-mode="indeterminate" class="md-accent md-hue-2" md-diameter="60" style="padding:30px"></md-progress-circular>
                        </div>
                        <div class="traffic-speed" ng-if="avgSpeed != 0">
                            <div class="inner-block-weather">
                                <div class="GaugeMeter gaugeMeter" id="PreviewGaugeMeter_2" style="width: 200px;">
                                    <span style="line-height: normal; font-size: 44px; color: rgb(1, 99, 155);">{{avgSpeed}}<u> Km/h</u></span>
                                    <b style="font-size: 15.3846px; line-height: normal; color: rgb(255, 255, 255);">{{sideNav[34].navEnglish}}</b>
                                    <p></p>
                                </div>
                                <p ng-if="avgCalculator == 'low'" class="text-center lower"><i class="fa fa-level-down"></i><span>&nbsp;{{trafficFlowData.optimalSpeedPercentile}}%&nbsp;</span>{{sideNav[16].navEnglish}}</p>
                                <p ng-if="avgCalculator == 'high'" class="text-center lower"><i class="fa fa-level-up"></i><span>&nbsp;{{trafficFlowData.optimalSpeedPercentile}}%&nbsp;</span>{{sideNav[17].navEnglish}}</p>
                                <div class="GaugeMeter gaugeMeter" id="PreviewGaugeMeter_2" style="width: 200px;">
                                    <span style="line-height: normal; font-size: 44px; color: rgb(1, 99, 155);">{{optimalSpeed}}<u> Km/h</u></span>
                                    <b style="font-size: 15.3846px; line-height: normal; color: rgb(255, 255, 255);">{{sideNav[35].navEnglish}}</b>
                                    <p></p>
                                </div>
                            </div>
                            <div class="bottom-content">
                                <div class="text-center">
                                    <div class="dashboard__chart-teaser">
                                        <div class="chart-teaser" ng-click="showGraph('speed')"><span class="svg-image"> <img src="images/graph.png" alt="" width="25"> </span><span class="chart-teaser__label"><span>{{sideNav[19].navEnglish}}</span></span> </div>
                                    </div>
                                </div>
                                <div class="data-time-period last-update text-center">
                                    <span class="badge"><span>{{sideNav[12].navEnglish}}</span></span><span>{{sideNav[6].navEnglish}}</span> :&nbsp;
                                    <time><span>{{currentDate.day}} {{currentDate.month}} {{currentDate.year}}, {{speedDate}}</span></time>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 traffic-align">
                    <div class="card ">
                        <div>
                            <md-tooltip md-direction="top">{{sideNav[72].navEnglish}}</md-tooltip>
                            <h3>{{sideNav[18].navEnglish}} <i class="fa fa-question-circle"></i></h3>
                        </div>
                        <div ng-if="totalCount === 0">
                            <md-progress-circular ng-disabled="!showSpinner" md-mode="indeterminate" class="md-accent md-hue-2" md-diameter="60" style="padding:30px"></md-progress-circular>
                        </div>
                        <div class="card-block jams-delay text-center" ng-if="totalCount !== 0">

                            <div class="inner-block-weather">
                                <div class="m-t">
                                    <div style="margin-top:30px;"><span class="svg-image"> <img src="images/car.png" alt="" width="200"> </span></div>
                                    <div>

                                        <span itemscope="" itemtype="http://schema.org/Article" class="number text-big">
                                            <span class="values traffic-delay">
                                                <span class="time">
                                                    <span class="time__component1" ng-if="travelTime.hour != 0">
                                                        <span class="unit">{{travelTime.hour}}h</span>
                                                    </span>
                                                    <span class="time__component">
                                                        <span class="unit">{{travelTime.minutes}}min</span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content">
                            <div class="text-center">
                                <div class="dashboard__chart-teaser">
                                    <div class="chart-teaser" ng-click="showGraph('delays')"><span class="svg-image"> <img src="images/graph.png" alt="" width="25"> </span><span class="chart-teaser__label"><span>{{sideNav[19].navEnglish}}</span></span> </div>
                                </div>
                            </div>
                            <div class="data-time-period last-update text-center">
                                <span class="badge"><span>{{sideNav[12].navEnglish}}</span></span><span>{{sideNav[6].navEnglish}}</span> :&nbsp;
                                <time><span>{{currentDate.day}} {{currentDate.month}} {{currentDate.year}}, {{incidentDate}}</span></time>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
                <div class="col-md-12 mtb-40 traffic-align animate-show animate-hide md-shadow-animated" style="margin-top:0px !important" ng-show="viewGraph">
                    <div class="agile-last-grid">
                        <div class="area-grids-heading">
                            <h3 ng-if="graphName == 'levels'">{{sideNav[5].navEnglish}} - {{sideNav[26].navEnglish}} <i ng-click="closeGraph()" class="fa fa-times close-icon" aria-hidden="true"></i></h3>
                            <h3 ng-if="graphName == 'reports'">{{sideNav[13].navEnglish}} - {{sideNav[26].navEnglish}} <i ng-click="closeGraph()" class="fa fa-times close-icon" aria-hidden="true"></i></h3>
                            <h3 ng-if="graphName == 'speed'">{{sideNav[15].navEnglish}} - {{sideNav[26].navEnglish}} <i ng-click="closeGraph()" class="fa fa-times close-icon" aria-hidden="true"></i></h3>
                            <h3 ng-if="graphName == 'delays'">{{sideNav[18].navEnglish}} - {{sideNav[26].navEnglish}} <i ng-click="closeGraph()" class="fa fa-times close-icon" aria-hidden="true"></i></h3>

                        </div>
                        <div id="chart"></div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="wrapper scrollable" id="trafic-flow-bottom" ng-if="selectedLanguage == 'ar'">
        <div class="main-grid" style="margin-top: -30px;">
            <div class="row agile-two-grids dashboard-info">
                <div class="col-md-3 traffic-align">
                    <!-- area-chart -->



                    <div class="area-grids card">
                        <div class="area-grids-heading">
                            <md-tooltip md-direction="top">{{sideNav[70].navArabic}}</md-tooltip>
                            <h3>{{sideNav[5].navArabic}} <i class="fa fa-question-circle"></i></h3>

                        </div>
                        <div ng-if="totalCount == 0">
                            <md-progress-circular ng-disabled="!showSpinner" md-mode="indeterminate" class="md-accent md-hue-2" md-diameter="60" style="padding:30px"></md-progress-circular>
                        </div>
                        <div id="graph4" class="graph4"></div>
                    </div>

                    <div ng-if="totalCount != 0">
                        <div class="bottom-content">
                            <div class="text-center">
                                <div class="dashboard__chart-teaser">
                                    <div class="chart-teaser" ng-click="showGraph('levels')"><span class="svg-image"> <img src="images/graph.png" alt="" width="25"> </span><span class="chart-teaser__label"><span>{{sideNav[19].navArabic}}</span></span> </div>
                                </div>
                            </div>
                            <div class="data-time-period last-update text-center">
                                <span class="badge"><span>{{sideNav[12].navArabic}}</span></span><span>{{sideNav[6].navArabic}}</span> :&nbsp;
                                <time><span> {{currentDate.month}} {{currentDate.day}} {{currentDate.year}}, {{incidentDate}}</span></time>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <!-- //area-chart -->
                </div>
                <div class="col-md-3 traffic-align">
                    <div class="speed-progress-block card">
                        <div>
                            <md-tooltip md-direction="top">{{sideNav[71].navArabic}}</md-tooltip>
                            <h3>{{sideNav[13].navArabic}} <i class="fa fa-question-circle"></i></h3>
                        </div>
                        <div ng-if="totalCount == 0">
                            <md-progress-circular ng-disabled="!showSpinner" md-mode="indeterminate" class="md-accent md-hue-2" md-diameter="60" style="padding:30px"></md-progress-circular>
                        </div>

                        <div class="inner-block-weather" ng-if="totalCount != 0">
                            <div class="speed-progress speed-progress1">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                <div class="speed-progress_inner values"> {{workCount}} </div>
                                <div class="speed-progress_inner process">
                                    <p><span></span></p>
                                </div>
                            </div>
                            <div class="speed-progress speed-progress2">
                                <i class="fa fa-car" aria-hidden="true"></i>
                                <div class="speed-progress_inner values"> {{jamCount}} </div>
                                <div class="speed-progress_inner process">
                                    <p><span></span></p>
                                </div>
                            </div>
                            <div class="speed-progress speed-progress3">
                                <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                <div class="speed-progress_inner values"> {{closedCount}} </div>
                                <div class="speed-progress_inner process">
                                    <p><span></span></p>
                                </div>
                            </div>
                        </div>
                        <div>

                            <p class="text-center "><span>{{sideNav[14].navArabic}}</span> <strong>{{totalCount}}</strong></p>
                        </div>
                        <div class="bottom-content">
                            <div class="text-center">
                                <div class="dashboard__chart-teaser">
                                    <div class="chart-teaser" ng-click="showGraph('reports')"><span class="svg-image"> <img src="images/graph.png" alt="" width="25"> </span><span class="chart-teaser__label"><span>{{sideNav[19].navArabic}}</span></span> </div>
                                </div>
                            </div>
                            <div class="data-time-period last-update text-center">
                                <span class="badge"><span>{{sideNav[12].navArabic}}</span></span><span>{{sideNav[6].navArabic}}</span> :&nbsp;
                                <time><span>{{currentDate.month}} {{currentDate.day}} {{currentDate.year}}, {{incidentDate}}</span></time>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 traffic-align">
                    <div class="traffic-speed-block card">
                        <div>
                            <md-tooltip md-direction="top">{{sideNav[69].navArabic}}</md-tooltip>
                            <h3>{{sideNav[15].navArabic}} <i class="fa fa-question-circle"></i></h3>
                        </div>
                        <div ng-if="avgSpeed == 0">
                            <md-progress-circular ng-disabled="!showSpinner1" md-mode="indeterminate" class="md-accent md-hue-2" md-diameter="60" style="padding:30px"></md-progress-circular>
                        </div>
                        <div class="traffic-speed" ng-if="avgSpeed != 0">
                            <div class="inner-block-weather">
                                <div class="GaugeMeter gaugeMeter" id="PreviewGaugeMeter_2" style="width: 200px;">
                                    <span style="line-height: normal; font-size: 44px; color: rgb(1, 99, 155);">{{avgSpeed}}<u> Km/h</u></span>
                                    <b style="font-size: 15.3846px; line-height: normal; color: rgb(255, 255, 255);">{{sideNav[34].navArabic}}</b>
                                    <p></p>
                                </div>
                                <p ng-if="avgCalculator == 'low'" class="text-center lower"><i class="fa fa-level-down"></i><span>&nbsp;{{trafficFlowData.optimalSpeedPercentile}}%&nbsp;</span>{{sideNav[16].navArabic}}</p>
                                <p ng-if="avgCalculator == 'high'" class="text-center lower"><i class="fa fa-level-up"></i><span>&nbsp;{{trafficFlowData.optimalSpeedPercentile}}%&nbsp;</span>{{sideNav[17].navArabic}}</p>
                                <div class="GaugeMeter gaugeMeter" id="PreviewGaugeMeter_2" style="width: 200px;">
                                    <span style="line-height: normal; font-size: 44px; color: rgb(1, 99, 155);">{{optimalSpeed}}<u> Km/h</u></span>
                                    <b style="font-size: 15.3846px; line-height: normal; color: rgb(255, 255, 255);">{{sideNav[35].navArabic}}</b>
                                    <p></p>
                                </div>
                            </div>
                            <div class="bottom-content">
                                <div class="text-center">
                                    <div class="dashboard__chart-teaser">
                                        <div class="chart-teaser" ng-click="showGraph('speed')"><span class="svg-image"> <img src="images/graph.png" alt="" width="25"> </span><span class="chart-teaser__label"><span>{{sideNav[19].navArabic}}</span></span> </div>
                                    </div>
                                </div>
                                <div class="data-time-period last-update text-center">
                                    <span class="badge"><span>{{sideNav[12].navArabic}}</span></span><span>{{sideNav[6].navArabic}}</span> :&nbsp;
                                    <time><span>{{currentDate.month}} {{currentDate.day}} {{currentDate.year}}, {{speedDate}}</span></time>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 traffic-align">
                    <div class="card ">
                        <div>
                            <md-tooltip md-direction="top">{{sideNav[72].navArabic}}</md-tooltip>
                            <h3>{{sideNav[18].navArabic}} <i class="fa fa-question-circle"></i></h3>
                        </div>
                        <div ng-if="totalCount === 0">
                            <md-progress-circular ng-disabled="!showSpinner" md-mode="indeterminate" class="md-accent md-hue-2" md-diameter="60" style="padding:30px"></md-progress-circular>
                        </div>
                        <div class="card-block jams-delay text-center" ng-if="totalCount !== 0">

                            <div class="inner-block-weather">
                                <div class="m-t">
                                    <div style="margin-top:30px;"><span class="svg-image"> <img src="images/car.png" alt="" width="200"> </span></div>
                                    <div>

                                        <span itemscope="" itemtype="http://schema.org/Article" class="number text-big">
                                            <span class="values traffic-delay">
                                                <span class="time">
                                                    <span class="time__component1" ng-if="travelTime.hour != 0">
                                                        <span class="unit">{{travelTime.hour}}h</span>
                                                    </span>
                                                    <span class="time__component">
                                                        <span class="unit">{{travelTime.minutes}}min</span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content">
                            <div class="text-center">
                                <div class="dashboard__chart-teaser">
                                    <div class="chart-teaser" ng-click="showGraph('delays')"><span class="svg-image"> <img src="images/graph.png" alt="" width="25"> </span><span class="chart-teaser__label"><span>{{sideNav[19].navArabic}}</span></span> </div>
                                </div>
                            </div>
                            <div class="data-time-period last-update text-center">
                                <span class="badge"><span>{{sideNav[12].navArabic}}</span></span><span>{{sideNav[6].navArabic}}</span> :&nbsp;
                                <time><span>{{currentDate.month}} {{currentDate.day}} {{currentDate.year}}, {{incidentDate}}</span></time>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
                <div class="col-md-12 mtb-40 traffic-align animate-show animate-hide md-shadow-animated" style="margin-top:0px !important" ng-show="viewGraph">
                    <div class="agile-last-grid">
                        <div class="area-grids-heading">
                            <h3 ng-if="graphName == 'levels'">{{sideNav[5].navArabic}} - {{sideNav[26].navArabic}} <i ng-click="closeGraph()" class="fa fa-times close-icon" aria-hidden="true"></i></h3>
                            <h3 ng-if="graphName == 'reports'">{{sideNav[13].navArabic}} - {{sideNav[26].navArabic}} <i ng-click="closeGraph()" class="fa fa-times close-icon" aria-hidden="true"></i></h3>
                            <h3 ng-if="graphName == 'speed'">{{sideNav[15].navArabic}} - {{sideNav[26].navArabic}} <i ng-click="closeGraph()" class="fa fa-times close-icon" aria-hidden="true"></i></h3>
                            <h3 ng-if="graphName == 'delays'">{{sideNav[18].navArabic}} - {{sideNav[26].navArabic}} <i ng-click="closeGraph()" class="fa fa-times close-icon" aria-hidden="true"></i></h3>

                        </div>
                        <div id="chart"></div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>