﻿<div ng-controller="sideNav as vm">
    <div ng-if="selectedLanguage==='en'">
        <div class="text-default1">
            <span><b>{{selectedHeader}}</b></span>
        </div>
        <div class="main-wrapper">
            <nav class="main-menu">
                <div class="button-menu-left button-menu-left-back">
                    <button>
                        <i class="fa fa-chevron-left"></i>
                    </button>
                </div>
                <a href="/" class="logo-new"><img src="images/logo2.png" alt="" /></a>
                <ul>
                    <li id="traffic-flow"> <a href="/trafficFlow"> <i class="fa fa-transgender-alt nav_icon"></i> <span class="nav-text">{{sideNavs[0].navEnglish}}</span> </a> </li>
                    <li class="has-subnav" id="traffic-incidents"> <a href="/trafficIncidents"> <i class="fa fa-arrows" aria-hidden="true"></i> <span class="nav-text">{{sideNavs[1].navEnglish}}</span> </a> </li>
                    <li class="has-subnav" id="delay-hotspot"> <a href="/delayHotspots"> <i class="fa fa-podcast nav_icon"></i> <span class="nav-text">{{sideNavs[2].navEnglish}}</span> </a> </li>
                    <!--<li class="has-subnav" id="live-traffic"> <a href="/liveTrafficUpdates"> <i class="fa fa-tachometer nav_icon"></i> <span class="nav-text">Live Traffic Updates</span> </a> </li>-->
                    <li id="weather-dubai"> <a href="/weather"> <i class="fa fa-cloud nav_icon"></i> <span class="nav-text">{{sideNavs[3].navEnglish}}</span> </a> </li>
                </ul>
                <div class="fahrenheit-toggle pull-right" ng-click="changeLanguage()">
                    <div class="fahrenheit-toggle__option" id="english"><span class="fahrenheit-toggle__label">En<span>glish</span></span></div>
                    <div class="fahrenheit-toggle__option" id="arabic"><span class="fahrenheit-toggle__label">.<span>عربى</span></span></div>
                </div>
            </nav>
        </div>
    </div>
    <div ng-if="selectedLanguage==='ar'">
        <div class="text-default1 ar-text-default1">
            <span><b>{{selectedHeader}}</b></span>
        </div>
        <div class="main-wrapper">
            <nav class="main-menu ar-main-menu">
                <div class="button-menu-left button-menu-left-back">
                    <button>
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </div>
                <a href="/" class="logo-new"><img src="images/logo2.png" alt="" /></a>
                <ul>
                    <li id="traffic-flow"> <a href="/trafficFlow"> <i class="fa fa-transgender-alt nav_icon"></i> <span class="nav-text">{{sideNavs[0].navArabic}}</span> </a> </li>
                    <li class="has-subnav" id="traffic-incidents"> <a href="/trafficIncidents"> <i class="fa fa-arrows" aria-hidden="true"></i> <span class="nav-text">{{sideNavs[1].navArabic}}</span> </a> </li>
                    <li class="has-subnav" id="delay-hotspot"> <a href="/delayHotspots"> <i class="fa fa-podcast nav_icon"></i> <span class="nav-text">{{sideNavs[2].navArabic}}</span> </a> </li>
                    <!--<li class="has-subnav" id="live-traffic"> <a href="/liveTrafficUpdates"> <i class="fa fa-tachometer nav_icon"></i> <span class="nav-text">Live Traffic Updates</span> </a> </li>-->
                    <li id="weather-dubai"> <a href="/weather"> <i class="fa fa-cloud nav_icon"></i> <span class="nav-text">{{sideNavs[3].navArabic}}</span> </a> </li>
                </ul>
                <div class="fahrenheit-toggle pull-right" ng-click="changeLanguage()">
                    <div class="fahrenheit-toggle__option" id="english1"><span class="fahrenheit-toggle__label">En<span>glish</span></span></div>
                    <div class="fahrenheit-toggle__option" id="arabic1"><span class="fahrenheit-toggle__label">.<span>عربى</span></span></div>
                </div>
            </nav>
        </div>
    </div>
</div>