﻿<div data-ng-include="'../app/trafficFlow/sideNav.html'"></div>
<div ng-controller="trafficIncidents as vm">

    <section class="wrapper scrollable" ng-if="selectedLanguage == 'en'">
        <div class="agile-bottom-grids">
            <div class="map-container">
                <div class="map-services__panel show-listing traffic-incident1">
                    <div id="main">
                        <div class="nano">
                            <div class="overthrow nano-content description">
                                <div class="card card-plain height-1 card-padded traffic-flow-panel">
                                    <div class="card-block">
                                        <div class="card-header p-b-0 text-center">
                                            <h2 class="m-a-0"><span>{{sideNav[22].navEnglish}}</span></h2>
                                        </div>
                                        <div class="flow-viewer__last-update m-b">
                                            <div class="data-time-period last-update text-center">
                                                <span class="badge"><span>{{sideNav[12].navEnglish}}</span></span><span>{{sideNav[6].navEnglish}}</span>
                                                <time><span>{{currentDate.day}} {{currentDate.month}} {{currentDate.year}}, {{incidentDate}}</span></time>
                                            </div>
                                        </div>
                                        <div ng-if="incidentResults.tm.poi.length == 0 || incidentResults.tm.poi == null || incidentResults.tm.poi == undefined" class="top-traffic-incident">
                                            <md-progress-circular ng-disabled="!showSpinner" md-mode="indeterminate" class="md-accent md-hue-2" md-diameter="60" style="padding:30px"></md-progress-circular>
                                        </div>
                                        <div ng-if="incidentResults.tm.poi.length != 0 || incidentResults.tm.poi != undefined || incidentResults.tm.poi != null" class="top-traffic-incident">
                                            <ul ng-repeat="incident in incidentResults.tm.poi | orderBy : '-d'" ng-if="$index <= 3">

                                                <li ng-if="incident.d != null" ng-click="drawPopup(undefined, incident.LatLng, incident.contentString, incident.d,incident.img)">

                                                    <div class="jam">

                                                        <span class="icons icon-Color" ng-if="(incident.d != 'closed' && incident.d != null  )"><img ng-src="./{{incident.img}}" alt="Alternate Text" /></span>
                                                        <span class="icons icon-Color" ng-if="(incident.d == 'closed' && incident.d != null  )"><img ng-src="./{{incident.img}}" alt="Alternate Text" /></span>
                                                        <h6 ng-if="(incident.d != 'closed' && incident.d != null  )"><span>{{sideNav[23].navEnglish}}</span></h6>
                                                        <h6 ng-if="(incident.d == 'closed' && incident.d != null  )"><span>{{sideNav[24].navEnglish}}</span></h6>
                                                    </div>

                                                    <p ng-if="incident.d == 'closed' "> <i class="fa fa-minus-circle" aria-hidden="true"></i> {{incident.f}}</p>
                                                    <p ng-if="incident.d != 'closed' "> <i class="fa fa-info-circle" aria-hidden="true"></i> {{incident.f}}</p>
                                                    <p ng-if="incident.d != null"> <i class="fa fa-info-circle" aria-hidden="true"></i> {{incident.t}}</p>
                                                    <p ng-if="incident.d != null"><i class="fa fa-info-circle" aria-hidden="true"></i> {{incident.d}}</p>

                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="position:relative">
                    <div id="map2" class="map"></div>
                    <div class="scroll-block">
                        <a href="javascript:;" class="scroll-down"><div class="trafic-flow-bottom"><i class="fa fa-chevron-down"></i></div></a>
                        <a href="javascript:;" class="scroll-down scroll-up" style="display:none;"><div class="trafic-flow-bottom"><i class="fa fa-chevron-up"></i></div></a>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </section>
    <section class="wrapper scrollable ar-mapZoom" ng-if="selectedLanguage == 'ar'">
        <div class="agile-bottom-grids">
            <div class="map-container">
                <div class="map-services__panel show-listing ar-show-listing traffic-incident1">
                    <div id="main">
                        <div class="nano">
                            <div class="overthrow nano-content description">
                                <div class="card card-plain height-1 card-padded traffic-flow-panel">
                                    <div class="card-block">
                                        <!--<div class="close2"><a href="#">X</a></div>-->
                                        <div class="card-header p-b-0 text-center">
                                            <h2 class="m-a-0"><span><b>{{sideNav[22].navArabic}}</b></span></h2>
                                        </div>
                                        <div class="flow-viewer__last-update m-b">
                                            <div class="data-time-period last-update text-center">
                                                <span class="badge ar-badge"><span>{{sideNav[12].navArabic}}</span></span><span>{{sideNav[6].navArabic}}</span>
                                                <time><span>{{currentDate.month}} {{currentDate.day}} {{currentDate.year}}, {{incidentDate}}</span></time>
                                            </div>
                                        </div>
                                        <div ng-if="incidentResults.tm.poi.length == 0 || incidentResults.tm.poi == null || incidentResults.tm.poi == undefined" class="top-traffic-incident">
                                            <md-progress-circular ng-disabled="!showSpinner" md-mode="indeterminate" class="md-accent md-hue-2" md-diameter="60" style="padding:30px"></md-progress-circular>
                                        </div>
                                        <div ng-if="incidentResults.tm.poi.length != 0 || incidentResults.tm.poi != undefined || incidentResults.tm.poi != null" class="top-traffic-incident">
                                            <ul ng-repeat="incident in incidentResults.tm.poi | orderBy : '-d'" ng-if="$index <= 3">

                                                <li ng-if="incident.d != null" ng-click="drawPopup(undefined, incident.LatLng, incident.contentString, incident.d,incident.img)">

                                                    <div class="jam">

                                                        <span class="icons icon-Color" ng-if="(incident.d != 'closed' && incident.d != null  )"><img ng-src="./{{incident.img}}" alt="Alternate Text" /></span>
                                                        <span class="icons icon-Color" ng-if="(incident.d == 'closed' && incident.d != null  )"><img ng-src="./{{incident.img}}" alt="Alternate Text" /></span>
                                                        <h6 ng-if="(incident.d != 'closed' && incident.d != null  )"><span>{{sideNav[23].navArabic}}</span></h6>
                                                        <h6 ng-if="(incident.d == 'closed' && incident.d != null  )"><span>{{sideNav[24].navArabic}}</span></h6>
                                                    </div>

                                                    <p ng-if="incident.d == 'closed' "> <i class="fa fa-minus-circle" aria-hidden="true"></i> {{incident.f}}</p>
                                                    <p ng-if="incident.d != 'closed' "> <i class="fa fa-info-circle" aria-hidden="true"></i> {{incident.f}}</p>
                                                    <p ng-if="incident.d != null"> <i class="fa fa-info-circle" aria-hidden="true"></i> {{incident.t}}</p>
                                                    <p ng-if="incident.d != null"><i class="fa fa-info-circle" aria-hidden="true"></i> {{incident.dar}}</p>
                                                  
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="position:relative">
                    <div id="map2" class="map"></div>
                    <div class="scroll-block">
                        <a href="javascript:;" class="scroll-down"><div class="trafic-flow-bottom"><i class="fa fa-chevron-down"></i></div></a>
                        <a href="javascript:;" class="scroll-down scroll-up" style="display:none;"><div class="trafic-flow-bottom"><i class="fa fa-chevron-up"></i></div></a>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </section>
</div>