﻿<!--<div data-ng-include="'../app/trafficFlow/sideNav.html'"></div>-->
<div ng-controller="turnByTurn as vm">

    <section class="wrapper scrollable">
        <div class="agile-last-grids">
            <div class="map-container">
                <!--<div style="position:relative">
                    
                    <div id="map3" class="map"></div>
                    <div class="scroll-block">
                        <a href="javascript:;" class="scroll-down"><div class="trafic-flow-bottom"><i class="fa fa-chevron-down"></i></div></a>
                        <a href="javascript:;" class="scroll-down scroll-up" style="display:none;"><div class="trafic-flow-bottom"><i class="fa fa-chevron-up"></i></div></a>
                    </div>
                </div>-->
                <div class="map-services__panel show-listing" ">
                    <div id="main">
                        <div class="nano">
                            <div class="overthrow nano-content description">
                                <div class="card card-plain height-1 card-padded traffic-flow-panel">
                                    <div class="card-block">
                                        <!--<div class="close2"><a href="#">X</a></div>-->
                                        <div class="card-header p-b-0 text-center">
                                            <h2 class="m-a-0"><span>Turn by turn POC</span></h2>
                                        </div>
                                        <div class="flow-viewer__last-update m-b">
                                            <div class="data-time-period last-update text-center">
                                                Select Language
                                                <select ng-model="selected" ng-change="changeLang(selected);">
                                                    <option ng-repeat="lang in languages" ng-value="lang">
                                                        {{lang}}
                                                    </option>
                                                </select>
                                                <!--<select ng-model="selectedYear" ng-change="getQuartersByYear(selectedYear); getBasesetByYearQuarter();">
                                                    <option ng-repeat="year in Years" ng-value="year">
                                                        {{year}}
                                                    </option>
                                                </select>
                                                <select ng-model="selectedQuarter" ng-change="getBasesetByYearQuarter()">
                                                    <option ng-repeat="quarter in Quarters" ng-value="quarter">
                                                        {{quarter}}
                                                    </option>
                                                </select>
                                                <select ng-model="selectedTiming" ng-change="getDelayHotspotByYearQuarterAndType()">
                                                    <option ng-repeat="timing in Timings" ng-value="timing">
                                                        {{timing}}
                                                    </option>
                                                </select>-->
                                                <br />
                                                <span class="badge"><span>HISTORICAL</span></span><span>{{selectedQuarter}}-{{selectedYear}} -- {{selectedTiming}}</span>
                                            </div>
                                            <!--<div class="data-time-period last-update text-center">
                                                <span class="badge"><span>Live</span></span><span>Last update</span>
                                                <time><span>{{currentDate.day}} {{currentDate.month}} {{currentDate.year}}, {{currentDate.time}}</span></time>
                                            </div>-->
                                        </div>
                                        <div ng-if="comparisionSetData1.network.segmentResults.length == 0 || comparisionSetData1.network.segmentResults == null || comparisionSetData1.network.segmentResults == undefined" class="top-traffic-incident">
                                            <md-progress-circular ng-disabled="!showSpinner" md-mode="indeterminate" class="md-accent md-hue-2" md-diameter="60" style="padding:30px"></md-progress-circular>
                                        </div>
                                        <div class="top-traffic-incident" ng-if="comparisionSetData1.network.segmentResults.length != 0 || comparisionSetData1.network.segmentResults != null || comparisionSetData1.network.segmentResults != undefined">
                                            <ul ng-repeat="hotSpot in comparisionSetData1.network.segmentResults" ng-if="$index < 10">
                                                <li ng-click="drawPopup(undefined, hotSpot.LatLng, hotSpot.contentString, hotSpot.streetName,hotSpot.img)">
                                                    <div class="jam1">
                                                        <span class="icons-delay"><img src={{hotSpot.img}} width="20"> <p>{{$index + 1}}</p></span>

                                                        <h6><span>{{hotSpot.streetName.toUpperCase()}}</span></h6>
                                                    </div>
                                                    <!--<p> <i class="fa fa-info-circle" aria-hidden="true"></i> Delay Score : {{hotSpot.delayScore}}</p>-->
                                                    <p><i class="fa fa-info-circle" aria-hidden="true"></i> Affected Road Length : {{hotSpot.distance}} mtrs</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--<div class="traffic-flow__description-toggle p-y hidden-md-up"><span><a href="javascript:;">Learn more</a></span></div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </section>

</div>