﻿<div data-ng-include="'../app/trafficFlow/sideNav.html'"></div>
<div ng-controller="weatherDubai as vm">
    <section class="wrapper scrollable" ng-if="selectedLanguage =='en'">
        <div class="main-grid">
            <div class="agile-grids">
                <div>
                    <div class="weather-right">

                        <div onLoad="startTime()" class="weather-bg">
                            <div class="<!--main--> new-weather1">
                                <!--<h1>Weather Report</h1>-->
                                <div class="w3_agile_main_grids" id="weatherPage">
                                    <div class="w3layouts_main_grid">
                                        <div class="w3layouts_main_grid_left">
                                            <h2>{{sideNav[27].navEnglish}}</h2>
                                            <p>{{sideNav[28].navEnglish}}</p>
                                            <p>{{currentData.dt[0].toUpperCase()}}, {{currentData.dt[1][0].toUpperCase()}} | {{currentTimeString}}</p>
                                            <p>{{currentData.weather[0].description.toUpperCase()}}</p>
                                        </div>
                                        <div class="w3layouts_main_grid_right">
                                            <canvas id="icon1" width="90" height="90"> </canvas>
                                            <div class="temp">
                                                <h4>{{currentData.main.temp}}°<sup><span>C</span></sup></h4>
                                            </div>
                                        </div>
                                        <div class="w3layouts_main_grid_right2">
                                            <p>{{sideNav[29].navEnglish}} : {{currentData.clouds.all}}%</p>
                                            <p>{{sideNav[30].navEnglish}} : {{currentData.main.pressure}} hPa</p>
                                            <p>{{sideNav[31].navEnglish}} : {{currentData.main.humidity}}%</p>
                                            <p>{{sideNav[32].navEnglish}} : {{currentData.wind.speed}} m/s</p>
                                            <p ng-if="currentData.wind.deg !=null || currentData.wind.deg != undefined ">{{sideNav[33].navEnglish}}: {{currentData.wind.deg}}°</p>
                                        </div>
                                        <div class="col-md-12 mtb-40 weather-graph">
                                            <div class="agile-last-grid">
                                                <div id="graph16" class="weather-graph1" style="height:280px;"></div>
                                            </div>
                                        </div>
                                        <div class="clear"> </div>
                                        <div class="weather-days">
                                            <ul>
                                                <li ng-repeat="weather in weatherData.list" ng-if="$index > 0">
                                                    <p>{{weather.dt[0].toUpperCase()}}</p>
                                                    <canvas id={{weather.iconId}} width="70" height="70"></canvas>
                                                    <h4>{{weather.temp.max}}°C <span><strong>|</strong> {{weather.temp.min}}°C</span></h4>
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="clear"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scroll-block">
                    <a href="javascript:;" class="scroll-down weatherScroll"><div class="trafic-flow-bottom"><i class="fa fa-chevron-down"></i></div></a>
                    <a href="javascript:;" class="scroll-down scroll-up weatherScroll" style="display:none;"><div class="trafic-flow-bottom"><i class="fa fa-chevron-up"></i></div></a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </section>

    <section class="wrapper scrollable" ng-if="selectedLanguage =='ar'">
        <div class="main-grid">
            <div class="agile-grids">
                <div>
                    <div class="weather-right">

                        <div onLoad="startTime()" class="weather-bg">
                            <div class="<!--main--> new-weather1">
                                <!--<h1>Weather Report</h1>-->
                                <div class="w3_agile_main_grids" id="weatherPage">
                                    <div class="w3layouts_main_grid">
                                        <div class="w3layouts_main_grid_left">
                                            <h2>{{sideNav[27].navArabic}}</h2>
                                            <p>{{sideNav[28].navArabic}}</p>
                                            <p>{{currentData.dt[0].toUpperCase()}}, {{currentData.dt[1][0].toUpperCase()}} | {{currentTimeString}}</p>
                                            <p><b>{{currentData.weather[0].description.toUpperCase()}}</b></p>
                                        </div>
                                        <div class="w3layouts_main_grid_right">
                                            <canvas id="icon1" width="90" height="90"> </canvas>
                                            <div class="temp">
                                                <h4>{{currentData.main.temp}}°<sup><span>C</span></sup></h4>
                                            </div>
                                        </div>
                                        <div class="w3layouts_main_grid_right2">
                                            <p>{{sideNav[29].navArabic}} : %{{currentData.clouds.all}}</p>
                                            <p>{{sideNav[30].navArabic}} : {{currentData.main.pressure}} </p>
                                            <p>{{sideNav[31].navArabic}} : %{{currentData.main.humidity}}</p>
                                            <p>{{sideNav[32].navArabic}} : متر في الثانية الواحدة {{currentData.wind.speed}} </p>
                                            <p ng-if="currentData.wind.deg !=null || currentData.wind.deg != undefined ">{{sideNav[33].navArabic}}: °{{currentData.wind.deg}}</p>
                                        </div>
                                        <div class="col-md-12 mtb-40 weather-graph">
                                            <div class="agile-last-grid">
                                                <div id="graph16" class="weather-graph1" style="height:280px;"></div>
                                            </div>
                                        </div>
                                        <div class="clear"> </div>
                                        <div class="weather-days">
                                            <ul>
                                                <li ng-repeat="weather in weatherData.list" ng-if="$index > 0">
                                                    <p>{{weather.dt[0].toUpperCase()}}</p>
                                                    <canvas id={{weather.iconId}} width="70" height="70"></canvas>
                                                    <h4>{{weather.temp.max}}°C <span><strong>|</strong> {{weather.temp.min}}°C</span></h4>
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="clear"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scroll-block">
                    <a href="javascript:;" class="scroll-down weatherScroll"><div class="trafic-flow-bottom"><i class="fa fa-chevron-down"></i></div></a>
                    <a href="javascript:;" class="scroll-down scroll-up weatherScroll" style="display:none;"><div class="trafic-flow-bottom"><i class="fa fa-chevron-up"></i></div></a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </section>

</div>
