﻿<!DOCTYPE html>
<html>
<head>

    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment names="Development">

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
        <link href="~/css/style.css" rel='stylesheet' type='text/css' />
        <link href="~/css/style2.css" rel='stylesheet' type='text/css' />
        <link href="~/css/style-res.css" rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="~/css/font.css" type="text/css" />
        <link href="~/css/font-awesome.css" rel="stylesheet">
        <link href="~/lib/angular-material/angular-material.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/nanoscroller.css">
        @*<link href="~/lib/openlayers/css/ol.css" rel="stylesheet" />*@
        <link href="~/css/c3.css" rel="stylesheet" />

        <link href="~/css/style-weather.css" rel="stylesheet" type="text/css" media="all" />

        <link rel="stylesheet" type="text/css" href="~/css/easy-responsive-tabs.css " />

        <link rel="stylesheet" href="~/css/morris.css">
        @*<link rel="stylesheet" href="~/css/site.css" />*@
    </environment>
    <environment names="Staging,Production">

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
        <link href="~/css/style.css" rel='stylesheet' type='text/css' />
        <link href="~/css/style2.css" rel='stylesheet' type='text/css' />
        <link href="~/css/style-res.css" rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="~/css/font.css" type="text/css" />
        <link href="~/css/font-awesome.css" rel="stylesheet">
        <link href="~/lib/angular-material/angular-material.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/nanoscroller.css">
        @*<link href="~/lib/openlayers/css/ol.css" rel="stylesheet" />*@
        <link href="~/css/c3.css" rel="stylesheet" />

        <link href="~/css/style-weather.css" rel="stylesheet" type="text/css" media="all" />

        <link rel="stylesheet" type="text/css" href="~/css/easy-responsive-tabs.css " />

        <link rel="stylesheet" href="~/css/morris.css">
        @*<link rel="stylesheet" href="~/css/site.css" />*@
    </environment>
</head>
<body ng-app="main" ng-controller="indexViewModel as vm" ng-cloak>
    <div class="loading-block">
        <div class="loder-b"> <img src="images/loader-icon.png" /> </div>
    </div>
    <div class="new-nav" ng-if="selectedLanguage == 'en'">
        <div class="button-menu-left">
            <button>
                <span></span>
                <span></span>
                <span></span>
            </button>


            <div class="text-default" id="div1">
                @*<span>{{selected}}</span>*@
                <p id="p1">
                    <a href="javascript:;" class="show-hide-list">
                        <span style="display:none;" class="sshow-list">{{showList}} <i class="fa fa-chevron-down"></i></span>
                        <span class="hhide-list">{{hideList}}<i class="fa fa-chevron-up"></i></span>
                    </a>

                </p>
            </div>
        </div>



    </div>

    <div class="my-smart-city" ng-if="selectedLanguage == 'en'">
      <img src="~/images/mysmartcity3.png" alt="" />
    </div>
    <div class="my-smart-city ar-my-smart-city" ng-if="selectedLanguage == 'ar'">
         <img src="~/images/mysmartcity3.png" alt="" />
    </div>
    @*<div class="my-smart-city" ng-if="selectedLanguage == 'en'">
        <p>My Smart City </p>
        <span>By</span><img src="images/logo-small.png" alt="" />
    </div>
    <div class="my-smart-city ar-my-smart-city" ng-if="selectedLanguage == 'ar'">
        <p>My Smart City</p>
        <span>By</span><img src="images/logo-small.png" alt="" />
    </div>*@

    <div class="new-nav ar-new-nav" ng-if="selectedLanguage == 'ar'">
        <div class="button-menu-left ar-button-menu-left">


            <div class="text-default" id="div1">
                @*<span>{{selected}}</span>*@
                <p id="p1">
                    <a href="javascript:;" class="show-hide-list">
                        <span style="display:none;" class="sshow-list">{{showList}} <i class="fa fa-chevron-down"></i></span>
                        <span class="hhide-list">{{hideList}}<i class="fa fa-chevron-up"></i></span>
                    </a>
                </p>
            </div>
            <button>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>

        <!-- title section end -->
    </div>
    @*<div class="logo-flag"><a href="/trafficFlow"><img src="~/images/thtc-logo-small.png" width="100" /></a><img src="~/images/uae-flag.png" width="70" /> </div>*@



    @RenderBody()


    @*<div>


        <!-- footer -->
        <div class="footer">
            <p>© 2017 THTC . All Rights Reserved </p>
        </div>
        <!-- //footer -->
    </div>*@

    <environment names="Development">

        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-animate/angular-animate.js"></script>
        <script src="~/lib/angular-aria/angular-aria.js"></script>
        <script src="~/lib/angular-material/angular-material.js"></script>
        <script src="~/lib/angular-route/angular-route.js"></script>
        <script src="~/lib/angular-messages/angular-messages.js"></script>
        <script src="~/lib/chart.js/dist/Chart.js"></script>
        <script src="~/lib/angular-chart.js/angular-chart.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/jquery-ui.min.js"></script>
        <script src="~/js/modernizr.js"></script>
        <script src="~/js/jquery.cookie.js"></script>
        <script src="~/js/raphael-min.js"></script>
        <script src="~/js/morris.js"></script>
        @*
        <script src="~/js/ol.js"></script>*@
        <script src="~/lib/openlayers/lib/OpenLayers.js"></script>
        <script src="~/js/skycons.js"></script>
        <script type="text/javascript" src="~/js/jquery.nanoscroller.js"></script>

        <script src="js/easyResponsiveTabs.js"></script>
        <script src="~/js/d3.js"></script>
        <script src="~/js/c3.js"></script>

        <script src="~/app/App.js"></script>
        <script src="~/app/common.js"></script>
        <script src="~/app/config.js"></script>
        <script src="~/app/Validator.js"></script>

        <script src="~/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">

        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-animate/angular-animate.js"></script>
        <script src="~/lib/angular-aria/angular-aria.js"></script>
        <script src="~/lib/angular-material/angular-material.js"></script>
        <script src="~/lib/angular-route/angular-route.js"></script>
        <script src="~/lib/angular-messages/angular-messages.js"></script>
        <script src="~/lib/chart.js/dist/Chart.js"></script>
        <script src="~/lib/angular-chart.js/angular-chart.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/jquery-ui.min.js"></script>
        <script src="~/js/modernizr.js"></script>
        <script src="~/js/jquery.cookie.js"></script>
        <script src="~/js/raphael-min.js"></script>
        <script src="~/js/morris.js"></script>
        @*
        <script src="~/js/ol.js"></script>*@
        <script src="~/lib/openlayers/lib/OpenLayers.js"></script>
        <script src="~/js/skycons.js"></script>
        <script type="text/javascript" src="~/js/jquery.nanoscroller.js"></script>

        <script src="js/easyResponsiveTabs.js"></script>
        <script src="~/js/d3.js"></script>
        <script src="~/js/c3.js"></script>

        <script src="~/app/App.js"></script>
        <script src="~/app/common.js"></script>
        <script src="~/app/config.js"></script>
        <script src="~/app/Validator.js"></script>

        <script src="~/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>


    </environment>

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        //MyApp.rootPath = '@Url.Content("~")';
        @RenderSection("jsCode", required: false)


    </script>

    <script>
        $(document).ready(function () {

            var selected_text = $('.main-menu ul li.active a .nav-text').html();

            $('.new-nav .text-default span').text(selected_text);

            $('.button-menu-left button').click(function () {
                $('.main-menu').addClass('show-menu1');
            });

            $(document).on("click", ".button-menu-left-back", function () {
                $('.main-menu').removeClass('show-menu1');
            });

            //setTimeout(function () {
            //    $(".main-menu li").trigger('click');
            //}, 10);

            //$(document).on("click", ".main-menu li", function () {
            //    selected_text = $('.active span').html();
            //    alert(selected_text);
            //   $scope.selected = $('.new-nav .text-default span').text(selected_text);
            //});

            $(document).on("click", ".main-menu li.active", function () {
                $('.main-menu').removeClass('show-menu1');
                $('.map-services__panel').toggleClass('show-listing');

                $('.show-hide-list span.hhide-list').show();
                $('.show-hide-list span.sshow-list').hide();
            });

            $(document).on("click", ".main-menu.show-menu1 li.active", function () {
                $('.main-menu').addClass('show-menu1');
                $('.map-services__panel').removeClass('show-listing');

            });


            $('.show-hide-list').click(function () {
                $('.map-services__panel').toggleClass('show-listing');
                $('.show-hide-list span').toggle();
                $('.main-menu').removeClass('show-menu1');
            });

            $(document).on("click", ".scroll-down", function () {
                $('html,body').animate({
                    scrollTop: $("#trafic-flow-bottom").offset().top,
                },
                    'slow');
                $('.scroll-down').toggle();
                $('.map-services__panel').removeClass('show-listing');

                //$('.show-hide-list span').toggle();
                $('.show-hide-list span.sshow-list').show();
                $('.show-hide-list span.hhide-list').hide();
                $('.main-menu').removeClass('show-menu1');
            });

            $(document).on("click", ".scroll-up", function () {
                var map = $('#map');
                var map2 = $('#map2');
                var map3 = $('#map3');
                var weatherPage = $('#weatherPage');
                if (map !== null && map.length === 1) {
                    $('html,body').animate({
                        scrollTop: map.scrollTop(),
                    },
                    'slow');

                    $('.map-services__panel').addClass('show-listing');
                    $('.show-hide-list span.hhide-list').show();
                    $('.show-hide-list span.sshow-list').hide();
                    $('.main-menu').removeClass('show-menu1');
                } else if (map2 !== null && map2.length === 1) {
                    $('html,body').animate({
                        scrollTop: map2.scrollTop(),
                    },
                    'slow');

                    $('.map-services__panel').addClass('show-listing');
                    $('.show-hide-list span.hhide-list').show();
                    $('.show-hide-list span.sshow-list').hide();
                    $('.main-menu').removeClass('show-menu1');
                } else if (map3 !== null && map3.length === 1) {
                    $('html,body').animate({
                        scrollTop: map3.scrollTop(),
                    },
                    'slow');

                    $('.map-services__panel').addClass('show-listing');
                    $('.show-hide-list span.hhide-list').show();
                    $('.show-hide-list span.sshow-list').hide();
                    $('.main-menu').removeClass('show-menu1');
                } else if (weatherPage !== null && weatherPage.length === 1) {
                    $('html,body').animate({
                        scrollTop: weatherPage.scrollTop(),
                    },
                    'slow');

                    //$('.map-services__panel').addClass('show-listing');
                    $('.main-menu').removeClass('show-menu1');
                }




            });

        });

    </script>

</body>







</html>
