.product-map-wrapper {
    overflow: hidden;
    padding: 0;
    position: relative;
}

.map-container {
    border-top: medium none;
    position: relative; /*height:625px;*/
    overflow: hidden;
}

.map-services__panel {
    background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
    left: 0;
    margin:;
    position: absolute;
    top: 0;
    width: 400px;
    overflow-y: auto; /*height:625px;*/
    height: 100%;
    transition: ease-in 0.3s;
}

.card-padded .card-block {
    padding: 50px 30px;
    background: rgba(255, 255, 255, 0.65);
    height: auto;
    min-height: calc(100vh);
    border-radius: 0 5px 5px 0;
    padding-bottom: 75px;
}

.m-b {
    margin-bottom: 15px;
}

.flow-fact {
    border-top: 1px solid #f0f0f0;
    padding: 10px 0;
    list-style: none;
    margin: 40px 0;
}

.traffic-flow__description {
    font-size: 14px;
}

    .traffic-flow__description p {
        margin-bottom: 20px;
        color: #4c4847;
    }

.card-block p.text-center {
    color: #4c4847;
}

.city-details {
    border-left: 1px solid #ccc;
    padding: 0 30px 0 20px;
}

.live-time__wrapper {
    align-items: center;
    width: 100px;
}

    .live-time__wrapper span {
        display: block;
        text-align: center;
    }

.live-time__time {
    font-size: 32px;
    line-height: 32px;
    text-align: center;
}

.live-time__label {
    color: #777;
    font-size: 10px;
    text-transform: uppercase;
}

.city-details .city-name {
    font-size: 40px;
    margin-bottom: -2px;
    text-transform: uppercase;
    font-weight: bold;
}

.fahrenheit-toggle {
    align-items: center;
    border: 3px solid hsl(83, 68%, 45%);
    float: none !important;
    justify-content: center;
    overflow: hidden;
    padding: 2px;
    border-radius: 20px;
    height: 37px;
    display: flex;
    top: 6px;
    position: relative;
    width: 170px;
    left: 15px;
}

.fahrenheit-toggle__option--active {
    background: #85c225 none repeat scroll 0 0;
    border-radius: 15px;
    color: #fff;
}

.fahrenheit-toggle__option {
    cursor: pointer;
    font-weight: 700;
    line-height: 22px;
    padding: 5px 20px;
}

span.fahrenheit-toggle__label {
    color: #fff;
}

.text-big {
    font-size: 3rem;
}

.unit {
    font-size: 80%;
    margin-left: 1px;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center.m-l {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.crossroads {
    display: inline-block;
    text-align: center;
    min-width: 55px;
}

.flow-fact__values {
    text-align: center;
}

.agile-grids, .agile-bottom-grids, .agile-last-grids, .agile-two-grids, .product-map-wrapper {
}

.main-grid {
    padding: 0em;
    position: relative;
    min-height: 625px;
}

.speed-progress {
    background: #4d4948;
    display: table;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.speed-progress_inner {
    display: table-cell;
}

.values {
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    vertical-align: middle;
    color: #fff;
    height: 40px;
    width: 48px;
    font-weight: bold;
    border-radius: 5px;
}

.speed-progress ul li {
    padding: 10px;
    display: block;
    position: relative;
}

.process {
    text-align: left;
    padding: 10px;
}

.bottom-content {
    bottom: 10px;
    left: 10px;
    position: absolute;
    right: 10px;
}

.chart-teaser {
    background: #007cc2 none repeat scroll 0 0;
    border: 1px solid #007cc2;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 10px auto;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out 0s;
    white-space: nowrap;
}

    .chart-teaser .svg-image {
        display: inline-block;
        vertical-align: middle;
    }

.chart-teaser__label {
    font-size: 14px;
    font-weight: 700;
    line-height: 0;
    margin-left: 8px;
    margin-right: 8px;
    vertical-align: middle;
}

.data-time-period {
    border-top: 1px solid #f2f2f2;
    bottom: 10px;
    font-size: 13px;
    left: 10px;
    padding-top: 8px;
    right: 10px;
}

.badge {
    background: #333 none repeat scroll 0 0;
    border-radius: 8px;
    display: inline-block;
    font-size: 11px;
    padding: 2px 10px;
    text-transform: uppercase;
    margin-right: 5px;
}

.speed-progress ul li:nth-child(1) span {
    background-color: #191817;
}

.process p {
    margin: 0;
    border-radius: 5px;
    display: inline-block;
    background: rgba(0,0,0,0.2);
    width: 100%;
    PADDING: 5PX;
    position: relative;
}

.speed-progress2 {
    background-color: #017cc2;
}

.speed-progress3 {
    background-color: #85c226;
}

.process p:after {
    content: '';
    background-color: #fff;
    display: block;
    height: 100%;
    position: absolute;
    width: 46%;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.speed-progress2 .process p {
    background: rgba(0,0,0,0.2);
}

.speed-progress3 .process p {
    background: rgba(0,0,0,0.2);
}

    .speed-progress3 .process p:after {
        width: 80%;
        content: '';
    }

.speed-progress2 .process p:after {
    width: 66%;
    content: '';
}

.speed-progress-block .total {
    width: 100%;
    content: '';
}

.total .process p:after {
    width: 77.8%;
    content: '';
}

.speed-progress-block .total span {
    font-weight: bold;
}

.speed-live-update {
    bottom: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 91%;
    font-size: 12px;
}

    .speed-live-update span {
        padding: 5px;
        background: #85c226;
        border-radius: 5px;
        width: 50px;
        display: inline-block;
        color: #fff;
        margin-right: 5px;
    }



.traffic-speed {
    text-align: center;
}

.GaugeMeter {
    position: Relative;
    text-align: Center;
    overflow: Hidden;
    cursor: Default;
    display: inline-block;
}

    .GaugeMeter SPAN, .GaugeMeter B {
        width: 62%;
        position: relative;
        text-align: Center;
        display: Inline-Block;
        color: RGBa(0, 0, 0, .8);
        font-weight: 100;
        font-family: "Open Sans", Arial;
        overflow: Hidden;
        white-space: NoWrap;
        text-overflow: Ellipsis;
        margin: 0 23%;
    }

    .GaugeMeter[data-style="Semi"] B {
        width: 80%;
        margin: 0 10%;
    }

    .GaugeMeter S, .GaugeMeter U {
        text-decoration: None;
        font-size: .60em;
        font-weight: 200;
        opacity: .6;
    }

    .GaugeMeter B {
        color: #000 !important;
        font-weight: 200;
        opacity: .8;
    }

p.lower span {
    color: #017cc2;
    font-weight: 700;
}

p.text-center.lower {
    margin: 10px 0;
}

.dashboard-info .card {
    background: #fff none repeat scroll 0 0;
    border-color: hsla(0, 0%, 78%, 0.3);
    border-radius: 5px;
    margin: 0;
    min-height: 430px;
    position: relative;
    box-shadow: 0 0 14px rgba(0,0,0,0.1);
    padding: 1em;
}

nav.main-menu li {
    border-bottom: 1px solid #066aa2;
}

nav.main-menu ul {
    padding-top: 0;
    margin-top: 0;
}

    nav.main-menu ul li:nth-last-child(1) {
        border-bottom: none;
    }

.graph4 {
    height: 270px;
    overflow: hidden;
}

.traffic-delay {
    background: #007cc2 none repeat scroll 0 0;
    display: block;
    height: 70px;
    margin-top: 50px;
    width: 100%;
}

.mtb-40 {
    margin-top: 40px; /*margin-bottom: 40px;*/
}

.close2 {
    position: absolute;
    right: 20px;
    top: 10px;
}

    .close2 a {
        color: #000;
        font-size: 14px;
        font-weight: bold;
        background: #017cc2;
        padding: 6px;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        display: block;
        text-align: center;
        line-height: 20px;
    }

        .close2 a:hover {
            color: #017cc2;
            background: #fff;
        }

.show-icon {
    position: absolute;
    right: 20px;
    top: 20px;
}

    .show-icon a {
        background: #666;
        padding: 10px;
        border-radius: 4px;
    }

    .show-icon img {
        width: 30px;
    }

.top-traffic-incident li {
    padding: 10px 20px;
    border-bottom: solid 1px #ccc;
    list-style: none;
}

    .top-traffic-incident li p {
        padding-left: 10px;
        color: #4c4946;
    }

        .top-traffic-incident li p i {
            margin-right: 10px;
            color: #f7000b;
        }

.jam {
    margin-bottom: 10px;
}

.jam1 {
    margin-bottom: 5px;
    display: inline-flex;
}

    .jam1 h6 {
        display: table-caption;
        font-size: 16px;
        font-weight: bold;
        margin-left: 10px;
        margin-top: 10px;
    }

.jam .icons {
    background-color: red;
    border-radius: 50%;
}

span.icons-delay img {
    opacity: 1;
    width: 35px;
}

.jam h6 {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}

.main-wrapper {
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
}

.main-menu {
    max-width: 250px;
}

.wrapper {
    padding-left: 0px;
}

.logo {
    background: rgba(255,255, 255, 0.0);
    padding: 15px 0px 15px 10px;
    width: 100%;
    float: left;
    width: 15%;
}


    .logo h1 a img {
        margin-right: .5em;
        width: 120px;
    }

    .logo h1 a {
        font-size: .9em;
        color: #000;
        font-weight: 600;
        text-transform: uppercase;
    }



/*.map-info-window1 { width: 200px !important; }
.gm-style .gm-style-iw { width: 110px !important; }*/


.map-services__panel {
    background: none !important;
    z-index: 1;
    background-size: cover !important;
    color: #4d4848;
    height: calc(100vh) !important;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
}

/*.map-services__panel:after {
    content: '';
    background: rgba(0, 124, 194, 0.78);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
}*/
.learn-more span > a {
    background: #85c226;
    padding: 10px 15px;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.2);
    transition: 0.3s;
}

    .learn-more span > a:hover {
        background: #79b123;
    }



/* ============ NEW CSS =============== */

div#main {
    height: 100%; /*background: url(../images/armani-2.jpg) !important;*/
    background-size: cover !important;
}

.new-nav {
    background: none;
    position: fixed;
    width: 100%;
    z-index: 1;
}

    .new-nav .logo {
        display: inline-block;
        width: auto;
        float: right;
        margin: 10px;
    }

    .new-nav section.title-bar {
        display: inline-block;
        padding-left: 0;
        vertical-align: top;
    }

    .new-nav .time-lang {
        display: inline-block;
        float: right;
        padding-top: 24px;
    }

nav.main-menu.show-menu1 {
    left: 0;
}

nav.main-menu {
    top: 0px !important;
    left: -250px;
    transition: 0.3s;
    box-shadow: 10px 0px 23px 0px rgba(0,0,0,0.2);
}


.main-wrapper {
    -moz-box-direction: normal;
    -moz-box-orient: horizontal; /*padding-top: 97px;*/
}

.map-container {
    height: calc(100vh);
}

#map {
    height: 100vh; /* height: 625px; */
}

#map2 {
    height: 100vh; /* height: 625px; */
}

#map3 {
    height: 100vh; /* height: 625px; */
}

/* ============ NEW CSS END =============== */

.open-panel {
    transform: translateX(0%) !important;
}

span.icons {
    background: none !important;
}

    span.icons img {
        opacity: 1;
        width: 60px;
    }

.traffic-incident1 span.icons img {
    opacity: 1;
    width: 30px;
}

.card-header.p-b-0.text-center h2 {
    padding-bottom: 10px;
}

.top-traffic-incident li:hover {
    background: rgba(0, 0, 0, 0.16);
}


.loading-block {
    display: table;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #FFF;
    z-index: 555;
    text-align: center;
}

.loder-b {
    display: table-cell;
    vertical-align: middle;
}

.top-traffic-incident ul {
    margin: 0 -30px;
}

/*html{
    background-image:url(../images/loader-icon.png);
}*/

.loder-b img {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.agile-Updating-grids, .agile-bottom-grid, .agile-last-grid {
    box-shadow: 0 0 14px rgba(0,0,0,0.1) !important;
    margin-bottom: 40px;
}

.weather-right {
    box-shadow: 0 0 14px rgba(0,0,0,0.1) !important;
}

.chart-teaser:hover {
    background: #075e8e none repeat scroll 0 0;
}

.process p {
    position: relative;
}

    .process p:after {
        display: none;
    }

.speed-progress1 .process p span {
    background-color: #fff;
    display: block;
    height: 100%;
    position: absolute;
    width: 46%;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.speed-progress2 .process p span {
    background-color: #fff;
    display: block;
    height: 100%;
    position: absolute;
    width: 46%;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.speed-progress3 .process p span {
    background-color: #fff;
    display: block;
    height: 100%;
    position: absolute;
    width: 46%;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.traffic-align {
    padding: 0 !important;
}

    .traffic-align .card {
        background: #fff none repeat scroll 0 0;
        border-color: hsla(0, 0%, 78%, 0.3);
        border-radius: 0;
        margin: 0;
        min-height: 430px;
        position: relative;
        box-shadow: none;
        padding: 0;
        border-right: 1px solid #cfd7dc;
        width: 100%;
        height: 100%;
        display: inline-block;
    }


.inner-block-weather {
    padding: 10px;
}

.animate-show,
.animate-hide {
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -ms-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: all linear 1s;
}

    .animate-show.ng-hide-remove,
    .animate-hide.ng-hide-add.ng-hide-add-active {
        opacity: 0;
        display: block !important;
    }

        .animate-hide.ng-hide-add,
        .animate-show.ng-hide-remove.ng-hide-remove-active {
            opacity: 1;
            display: block !important;
        }



/* ============= new-weather1 new-weather1 =============== */


.new-weather1 {
}

    .new-weather1 .w3layouts_main_grid_left h2 {
        margin: 0 !important;
    }



    .new-weather1 .w3layouts_main_grid_left p {
        margin: 0 !important;
        color: #fff;
        font-size: 20px;
    }

.c-white {
    color: #fff;
}


.new-weather1 .w3layouts_main_grid_right {
    margin-top: 0;
    color: #fff;
    vertical-align: top;
}

    .new-weather1 .w3layouts_main_grid_right h3 {
        margin: 0 !important;
        color: #fff;
    }

    .new-weather1 .w3layouts_main_grid_right h4 {
        color: #fff;
        font-size: 2.5em;
    }

.new-weather1 .temp {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-size: 20px;
}

.new-weather1 .w3layouts_main_grid_right h4 span {
    font-size: 25px;
    padding-left: 5px;
}

.weather-graph {
    overflow: hidden;
    margin-bottom: 0;
    padding: 0;
    margin-left: -10px;
    display: block;
    clear: both;
}

    .weather-graph .agile-Updating-grids, .agile-bottom-grid, .agile-last-grid {
        overflow: hidden;
    }


.new-weather1 .weather-days ul {
    padding-left: 0;
    text-align: center;
}

    .new-weather1 .weather-days ul li:nth-child(1) {
        margin-left: 0;
    }

    .new-weather1 .weather-days ul li {
        display: inline-block;
        padding-left: 0;
        color: #fff;
        margin-left: 50px;
        text-align: center;
    }

.weather-right {
    margin: 0;
    background: url(../images/banner.jpg);
    background-size: cover;
}

.new-weather1 .weather-days ul li h4 {
    color: #fff;
}

.new-weather1 .w3layouts_main_grid {
    padding: 6.5em 3em;
    background: rgba(0, 124, 194, 0.85);
    width: 100%;
    height: auto;
    display: block;
}

.new-weather1 .w3_agile_main_grids {
    width: 100%;
}

.new-weather1 .weather-graph1 text {
    fill: #fff;
}

.new-weather1 .weather-graph1 path {
    stroke: #fff;
}

.new-weather1 .weather-graph .agile-Updating-grids, .agile-bottom-grid, .agile-last-grid {
    background: none;
}

.new-weather1 .w3layouts_main_grid_left {
    float: left;
    width: auto;
}

.new-weather1 .w3layouts_main_grid_right {
    text-align: left;
}


.icon-Color i {
    color: #fff;
    background: #f00;
    padding: 6px;
    border-radius: 50px;
}

    .icon-Color i.fa-minus-circle {
        font-size: 20px;
    }


/* 19-july */

.button-menu-left {
    background: #fff;
    width: 400px;
    display: inline;
    position: absolute;
    z-index: 12;
    margin-top: 10px;
    border-radius: 0 5px 5px 0;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
}

    .button-menu-left button {
        background: none;
        border: none;
        margin: auto;
        display: inline-block;
        outline: none;
        padding: 12px 7px;
    }

        .button-menu-left button span {
            width: 22px;
            height: 2px;
            display: block;
            background: #4d4848; /*red*/
            margin: auto;
            border-radius: 1px;
            margin-bottom: 5px;
        }

            .button-menu-left button span:nth-last-child(1) {
                margin-bottom: 0;
            }

.description {
    top: 0;
}

.map-services__panel.show-listing {
    top: 60px;
}

.button-menu-left.button-menu-left-back {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    width: 49px;
    background: #fff;
    color: #007cc2;
    margin-top: 0;
    text-align: center;
    border-radius: 0;
    height: 65px;
    line-height: 42px;
}

.text-default {
    display: inline-block;
    padding-right: 10px;
    border-left: 1px solid #d8cbcb;
    padding-left: 10px;
    width: 359px;
    top: 9px;
    position: absolute;
    z-index: 99;
}

.text-default1 {
    display: inline-block;
    padding-right: 10px;
    border-left: 1px solid #d8cbcb;
    padding-left: 10px;
    width: 359px;
    top: 16px;
    position: fixed;
    z-index: 1;
}

    .text-default1 span {
        position: absolute;
        z-index: 99;
        left: 50px;
        top: 3px;
    }

.text-default p {
    display: inline-block;
    margin-left: 15px;
    float: right;
}

    .text-default p a {
        color: #4d4848;
    }

        .text-default p a:hover {
            text-decoration: underline;
        }

.live-trafic-update {
    margin-top: 90px;
}

a.logo-new {
    display: inline-block;
    width: 200px;
    float: right;
    background: #fff;
    padding: 10px 10px;
}

#trafic-flow-bottom .main-grid {
    min-height: 1px;
}

.scroll-down {
    z-index: 0;
    position: absolute;
    bottom: 25px;
    background: #fff;
    font-size: 25px;
    margin: auto;
    left: 0;
    right: 0;
    width: 60px;
    text-align: center;
    color: #000;
    border: #007cc2 3px solid;
    border-radius: 60%;
    height: 60px;
    line-height: 53px;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
    transition: ease 1s;
}

@-webkit-keyframes mymove {
    0% {
        bottom: 0px;
    }

    25% {
        bottom: 25px;
    }

    50% {
        bottom: 0px;
    }

    75% {
        bottom: 25px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes mymove {
    0% {
        bottom: 0px;
    }

    25% {
        bottom: 25px;
    }

    50% {
        bottom: 0px;
    }

    75% {
        bottom: 25px;
    }

    100% {
        bottom: 0px;
    }
}

.w3layouts_main_grid_right2 {
    display: inline-block;
    float: right;
    color: #fff;
    font-size: 20px;
    position: relative;
    left: -60px;
}
/* 19-july end */
.logo-flag img {
    display: inline-block;
    margin-left: 10px;
}

.logo-flag {
    position: fixed;
    right: 0;
    top: 10px;
    z-index: 88;
    padding-left: 0 !important;
    padding: 10px;
    background: rgba(255,255,255,0.7);
}



.map.olMap > div > div {
    z-index: 0 !important;
}

.speed-progress i.fa.fa-car, .speed-progress i.fa.fa-minus-circle {
    position: relative;
    display: table-cell;
    width: 60px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    padding: .7em 0;
    color: #fff;
}

.olPopup {
    border-radius: 20px !important;
    height: none !important;
    padding: 5px;
}


.morris-hover {
    top: 1px;
    left: 100px;
}

#chart .c3-line-Optimal-Speed {
    stroke-dasharray: 1,5;
    stroke-width: 3px;
}

#chart .c3-line-Average-Speed {
    stroke-width: 3px;
}

#chart .c3-line-RoadWorks {
    stroke-width: 3px;
}

#chart .c3-line-Jams {
    stroke-width: 3px;
}

#chart .c3-line-Closures {
    stroke-width: 3px;
}

#chart .c3-line-Traffic-Level {
    stroke-width: 3px;
}

#chart .c3-line-Typical-Traffic-Level {
    stroke-width: 3px;
}

#chart .c3-line-Total {
    stroke-dasharray: 1,5;
    stroke-width: 3px;
}

#chart .c3-line-Delay {
    stroke-width: 3px;
}

#chart .c3-line-??????-?????? {
    stroke-dasharray: 1,5;
    stroke-width: 3px;
}

#chart .c3-line-?????-???????? {
    stroke-width: 3px;
}

#chart .c3-line-?????-????? {
    stroke-width: 3px;
}

#chart .c3-line-?????? {
    stroke-width: 3px;
}

#chart .c3-line-????? {
    stroke-width: 3px;
}

    #chart .c3-line-?????-????-?????? {
        stroke-width: 3px;
    }

        #chart .c3-line-?????-????-??????-???????? {
            stroke-width: 3px;
        }

#chart .c3-line-????? {
    stroke-dasharray: 1,5;
    stroke-width: 3px;
}

#chart .c3-line-????? {
    stroke-width: 3px;
}

.chart .axis {
    shape-rendering: crispEdges;
}

.olControlZoom {
    left: auto !important;
    right: 16px !important;
    top: auto !important;
    bottom: 0;
}

.olPopupContent h6 {
    font-size: 16px;
}

.weatherScroll {
    top: 420px;
}

.close-icon {
    position: absolute;
    left: 1390px;
    top: 5px;
    font-size: xx-large !important;
}

div.olControlZoom a {
    height: 60px !important;
    width: 30px !important;
    line-height: 55px !important;
}

span.icons-delay p {
    position: absolute;
    top: 7px;
    color: #fff;
    left: -10px;
    right: 0;
    margin: auto;
    display: block;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

span.icons-delay {
    position: relative;
}

.map-icons1 {
    position: absolute;
    left: 20px;
    top: 15px;
    color: #fff;
    font-weight: bold;
}

.map-icons2 {
    position: absolute;
    left: 15px;
    top: 15px;
    color: #fff;
    font-weight: bold;
}

md-input-container .md-errors-spacer {
    min-height: 0 !important;
}
.my-smart-city {
    position: absolute;
    right: 10px;
    background: rgba(255, 255, 255, 0.8);

    top: 5px;
    font-size: 16px;
    z-index: 9;
    color: #333;
    text-transform: capitalize;
    font-weight: lighter;
    border-radius: 5px;
    text-align:center;
font-family: 'Roboto', sans-serif;
}
.my-smart-city img {
    /*width: 80px; height: 29px;
    padding: 0px 10px;*/ 
    vertical-align: top;
    border-left: 1px solid #ccc;
}
.my-smart-city p{
    /*width: 100%;*/
  
    padding: 10px;
    margin-bottom: 0px;
    font-size:18px;
    border-bottom: 1px solid #ccc;
}

.my-smart-city span {
    padding: 0 10px;
    font-size: 14px;
    vertical-align: middle;
    line-height: 12px;
}
.button-menu-left.ar-button-menu-left .text-default {
    border-left: none;
}
/* ar*/
.my-smart-city.ar-my-smart-city {
    left: 5px;
    right: auto;
}
.map-services__panel.show-listing.ar-show-listing {
    right: 20px;
    left: auto;
}

.ar-show-listing {
    right: 20px;
    left: auto !important;
}

.button-menu-left.ar-button-menu-left {
    right: 20px;
    border-radius: 3px 0 0 3px;
}

.text-default1.ar-text-default1 {
    right: 65px;
    border-right: 1px solid #d8cbcb;
    height: 25px;
    clear: both;
}

nav.main-menu.ar-main-menu {
    right: -250px;
    left: auto;
}

nav.main-menu.ar-main-menu.show-menu1 {
    left: auto;
    right: 0;
}
.ar-main-menu a.logo-new {
    float: left;
}
    #chart .c3-line-?????-????-?????? { stroke-width: 3px; }
        #chart .c3-line-?????-????-??????-???????? { stroke-width: 3px; }
#chart .c3-line-????? { stroke-dasharray: 1,5; stroke-width: 3px; }

.ar-button-menu-left span.hhide-list > i {
    padding-left: 10px;
}
.ar-button-menu-left > button {
    float: right;
}

.ar-button-menu-left .text-default p {
    margin-left: 0;
    float: left;
    z-index: 99;
}

.text-default1.ar-text-default1 span {
    position: absolute;
    z-index: 99;
    right: 15px;
    top: 3px;
    left: auto;
}

.text-default1.ar-text-default1{
    width: 240px;
    border-left: 0;
}
.ar-mapZoom .olControlZoom {
   
     left: 16px !IMPORTANT;
    right: auto;
    width: 36px;
}

.ar-badge{
    margin: 5px;
    font-size: 16px;
}


/*ar end*/

.md-tooltip { height: auto !important; width: 300px !important; color: white !important; border-radius: 5px; white-space: normal !important; font-size: 14px !important; text-align: justify !important; }

