@media only screen and (max-width: 1200px) and (min-width: 1024px){
.map-services__panel {
	/*width: 35%;*/
	width: 400px;
}
}

/* max-width: 1200px and min-width: 1024px */

@media only screen and (min-width: 768px) and (max-width: 1023px){
	.map-services__panel {
	width: 40%;
	/*width: 400px;*/
}
.agile-two-grids.dashboard-info .col-md-3 {
	margin-bottom: 30px;
}

.text-default {
	width: 88%;
}
.button-menu-left {
	background: #fff;
	width: 40%;
	}

.card-padded .card-block h2 {
	font-size: 20px;
}
.text-big {
	font-size: 2rem;
}



}

/* min-width: 768px and max-width: 1023px */

@media(min-width:768px){
.map-services__panel {
	position: fixed;
	left:0px;
	overflow-y: auto;
	height: calc(100vh);
	top: -100%;
}	
}
/* ===== END ==== min-width:768px ===== END ==== */
@media(max-width:1023px){
.chart-teaser__label{margin-top:15px;}
}
/* ===== END ==== max-width:1023px ===== END ==== */
@media(max-width:767px){
.button-menu-left.button-menu-left-back {
	top: 0;
	vertical-align: top;
}
a.logo-new {
	float: none;
	width: 100%;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
}

span.hhide-list.ng-binding i {
	padding-left: 10px;
}
.text-default {
	width: 85%;
	right: 0;
	border-left: 0px solid #d8cbcb;

}

.button-menu-left {
	width: 90%;
	margin: auto;
	left: 0;
	right: 0;
	top: 10px;
	border-radius: 5px;
	/*position: fixed;*/
}

	.new-weather1 .w3layouts_main_grid{
	    height:auto;
        padding: 4em 1em;
	}
    .weatherScroll {
     bottom: 60px;
    top: -40px;
}

    .new-weather1 .temp {
    font-size: 14px;
}
	.new-weather1 .w3layouts_main_grid_left{
	width:100%;
	display:block;
	}

	 .new-weather1 .w3layouts_main_grid_right{
	padding-top:20px;
	width:100%;
	display:block;
	}

	.new-weather1 .weather-days ul li {
	margin-left: 0px !important;
	padding: 0;
    margin-bottom: 30px;
}

  .new-weather1 .weather-days ul li:nth-last-child(1) {
    margin-bottom: 0;
}
  .new-weather1 .weather-days ul li:nth-last-child(2) {
    margin-bottom: 0;
}
  .new-weather1 .weather-days ul li:nth-child(odd) {
    padding-right: 5px;
}

  .new-weather1 .weather-days ul li:nth-child(even) {
    padding-left: 5px;
}

	.new-weather1 .weather-days ul li canvas {
	width: 40px;
	height: 40px;
}

.card-header > h2 {
	padding-top: 15px;
}
.footer p{
	text-align:center;
}	
body{
	padding-bottom: 0px;
}

.card-header > h2 {
	padding-top: 15px;
}

.agile-two-grids.dashboard-info .col-md-3 {
	margin-bottom: 15px;
}
.dashboard-info .card h3{
	margin-bottom:0;
}

.traffic-delay {
	height: auto;
	padding: 10px 0;
	font-size: 22px;
}

.new-nav {
	position: relative;
	z-index:99;
}

.main-wrapper{
	padding-top:0;
}
.live-time__wrapper{
	display:none;
}	

.new-nav .time-lang {
	padding-right: 10px;
}
.new-nav .logo {
	width: 150px;
}
.new-nav .logo  a img{
	max-width:100%;
}

.city-details .city-name {
	font-size: 25px;
	margin-bottom: -6px;
	padding-top: 5px;
}
span.country-details {
	font-size: 14px;
}
.fahrenheit-toggle__option {
	font-size: 12px;
	padding: 0px 10px;
	width: 50%;
	line-height: 35px;
	text-align: center;
}
.fahrenheit-toggle {
	padding: 0px;
	height: 40px;
	width: 90%;
	left: 15px;
}
.city-details {
	border-left: 1px solid #ccc;
	padding: 0 0px 0 10px;
}

nav.main-menu{
	position: fixed;
	z-index: 99999;
	top: 0 !important;
	width: 100%;
	display: block;
	max-width: 100%;
	left: -100%;
	box-shadow: 10px 0px 23px 0px rgba(0,0,0,0);
}
nav.main-menu li>a {
	display: block;
	padding:  10px;
}

nav.main-menu li  {
	display: block;
	width: 100%;
	vertical-align: top;
}

nav.main-menu li:nth-last-child(1)  {
	width:100%;
}

nav.main-menu .nav-text{
	width:auto;
	    font-size: 18px;
    line-height: 18px;
}

nav.main-menu ul li a i {
	width: auto !important;
	font-size: 15px !important;
	padding: 5px !important;
}
nav.main-menu>ul {
	font-size: 0;
	margin-bottom: 0;
}

nav.main-menu ul li a i {
	width: auto !important;
	font-size: 15px !important;
	padding: 5px !important;
	vertical-align: top !important;
	padding-top: 15px !important;
}
.new-weather1 .w3layouts_main_grid_left p {
    font-size: 18px;
}
.wrapper {
	padding-left: 0;
}
.card-block{
	height:auto;
}
.show-listing .nano {
	height: auto;
	height: 80% !important;
}

.overthrow.nano-content.description {
/*    position: relative;*/
}
 .map-services__panel{
	width: 100% !important;
	top: -100%;
}

.main-grid {
	min-height: auto;
	padding-bottom: 64px;
	padding-bottom: 0;
}

.footer{
 
}
div#main {
	background: none !important;
}

.new-nav .time-lang {
   padding-top: 15px;
}

.card-padded .card-block {
	background: rgba(255, 255, 255, 0.85);
	padding: 30px 20px;
	min-height: 100%;
	width: 90%;
	margin: auto;
	border-radius: 5px;
}
.card-padded .card-block h2 {
	font-size: 20px;
}
.card-padded .card-block{
	padding-top: 0;
}
.text-big {
	font-size: 2rem;
}

.flow-fact {
	margin: 10px 0;
}

.text-default1 {
	z-index: 9999;
	position: absolute;
}


.chart-teaser {
	margin: 0 auto;
	margin-bottom: 20px;
}

.bottom-content {
	bottom: 0;
	left: 0;
	position: relative;
	right: 0;
}

.traffic-align .card {
	min-height: auto;
}
html, body {
	background: #ffffff;
}
.scroll-block {
	z-index: 999;
	position: relative;
}

.scroll-down{
	width:40px;
	height:40px;
	font-size:20px;
	line-height:33px;
}


nav.main-menu ul li:nth-last-child(1) {
    border-bottom: 1px solid #066aa2; 
}
.my-smart-city{
    display:none;
}
/* arabic */
.ar-show-listing {
    right: 0;
    left: 0;
    margin: auto;
}
.text-default1.ar-text-default1 {
    width: 45%;
}
nav.main-menu.ar-main-menu {
	right: -100%;
	left: auto;
}
.button-menu-left.ar-button-menu-left .text-default {
	left: 0;
	right: auto;
	width: 120px;
}
.button-menu-left.ar-button-menu-left {
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 5px;
}

.map-services__panel.show-listing.ar-show-listing {
    right: 0;
    left: 0;
    margin: 0;
}
.fahrenheit-toggle {
    position: absolute;
    bottom: 20px;
    top: auto;
}



/* arabic END */


}

/* ===== END ==== max-width:767px ===== END ==== */
 

@media(max-width:460px){
.new-nav .logo {
	width: 100px;
}

.city-details .city-name {
	font-size: 20px;
}
.logo {
	padding: 13px 0px 13px 10px;
}
 

span.fahrenheit-toggle__label > span {
	/*display: none;*/
}
span.country-details {
	font-size: 10px;
}
.dashboard-page .title-bar {
	padding: 0.5em;
}

}

/* ===  max:460px === END */


@media only screen and (max-width: 1250px) and (min-width: 992px){

.agile-two-grids.dashboard-info .col-md-3 {
	width:50% !important; 
}

}











